<ion-app>
    <ion-menu side="start">
        <ion-header>
      <ion-toolbar color="danger">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs" color="dark">
          <ion-icon name="location" slot="start"></ion-icon>
          <ion-label>Tourism Destination</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="./tabs/filter" color="dark">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Filter Location</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="./tabs/about" color="dark">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>About App</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  </ion-menu>
        <ion-router-outlet main></ion-router-outlet>      
    

</ion-app>