<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/travels/tabs/travel"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadPlace?.title }}</ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img [src]="loadPlace?.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 text-center>{{ loadPlace?.title }}</h1>
        <p>{{ loadPlace?.location }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Destination Description</h4>
        <p>{{ loadPlace?.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
