<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Create Destination</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item color="light">
        <ion-label position="stacked">Destination Title</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="light">
        <ion-label position="stacked">Location</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="light">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" color="danger">Submit Destination</ion-button>
  </div>
</ion-content>
